 /* :root {
  --logo-part1-color: #2196f3;
  --logo-part2-color-dark: #000000;
  --logo-part2-color-light: #ffffff;
  --heder-navigation-color: #212121;
  --heder-contacts-color: #757575;
  --accent-color: #2196f3;
  --title-main-color: #212121;
  --title-second-color: #ffffff;
  --text-main-color: #757575;
  --text-second-color: #ffffff;
  --btn-main-color: #2196f3;
  --btn-second-color: #f5f4fa;
  --btn-accent-color: #188ce8;
  --btn-text-color: #ffffff;
  --btn-second-text-color: #212121;
  --footer-main-text-color: #ffffff;
  --footer-second-text-color: rgba(255, 255, 255, 0.6);
  --background-main-color: #ffffff;
  --items-background-color: #ffffff;
  --icon-background-color: #ffffff;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--text-main-color);
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-main-color);
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--btn-main-color);
  color: var(--btn-text-color);
  box-sizing: border-box;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---------------------HEADER---------------------*/
/* 
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-left: 95px;
  width: 294px;
}

.logo-part1 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-part1-color);
}

.logo-part2--black {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-part2-color-dark);
}

.logo-part2--white {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-part2-color-light);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heder-navigation-color);
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--current {
  color: var(--accent-color);
}

.navigation__link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  display: block;
  bottom: 0;
}

.header-contacts__list {
  display: inline-flex;
  justify-content: flex-end;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heder-contacts-color);
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link::before {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/*---------------------HERO---------------------*/

/* .hero__section {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-second-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero__button {
  margin: 0 auto;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
} */

/*---------------------FEATURES---------------------*/

/* .features__section {
  padding-bottom: 0px;
}

.features__list {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item + .features__item {
  margin-left: 30px;
}

.futures__picture {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.futures__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-main-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
} */

/*---------------------DIRECTIONS---------------------*/

/* .directions__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
  margin-bottom: 50px;
}

.directions__list {
  display: flex;
  padding-left: 0px;
}

.directions__item:not(:last-child) {
  margin-right: 30px;
}

.directions__card {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
}

.directions__text-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 23.8%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  display: flex;
  justify-content: center;
}

.directions__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
} */

/*---------------------TEAM---------------------*/

/* .team__section {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
}

.team__card {
  background: var(--items-background-color);
  width: 270px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team-member__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
  margin-bottom: 10px;
}

.team-member__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  margin-bottom: 16px;
}

.social-networks__list {
  display: flex;
  justify-content: center;
}

.social-networks__picture {
  width: 44px;
  height: 44px;
}

.social-networks__picture + .social-networks__picture {
  margin-left: 10px;
}

.social-networks__link {
  width: 100%;
  height: 100%;
  display: block;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover,
.social-networks__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-networks__icon {
  fill: currentColor;
} */

/*---------------------CASTOMERS---------------------*/

/* .castomers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
  margin-bottom: 50px;
}

.castomers__list {
  display: flex;
}

.castomers__picture {
  width: 170px;
  height: 92px;
}

.castomers__picture + .castomers__picture {
  margin-left: 30px;
}

.castomers__link {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--icon-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.castomers__link:hover,
.castomers__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.castomers__icon {
  fill: currentColor;
} */

/*---------------------FOOTER---------------------*/

/* .footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__adress-wrap {
  width: 231px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-second-text-color);
  font-style: normal;
}

.footer-address__link--light {
  color: var(--footer-main-text-color);
}

.footer__social {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.social-networks__link--footer {
  background-color: #ffffff1a;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--footer-main-text-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__subscribe {
  margin-left: 93px;
  padding-top: 12px;
  width: 570px;
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--footer-main-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: gba(255, 255, 255, 0.6);
}

.subscribe__button {
  width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  position: relative;
  display: inline-flex;
}

.subscribe-btn__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--btn-text-color);
  margin-left: 10px;
} */

/*---------------------MODAL FORM---------------------*/

/* .backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) rotate(180deg);
  transition: transform 500ms;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 500ms;
  padding: 40px;
}

.modal-close__button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  background-color: inherit;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close__button:focus,
.modal-close__button:hover + .modal-close__icon {
  fill: #2196f3;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-close__button:hover,
.modal-close__button:focus + .modal-close__icon {
  fill: #2196f3;
  background-color: rgba(0, 0, 0, 0.1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: block;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__label {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  color: #757575;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus,
.modal-form__textarea:focus {
  border-color: #2196f3;
}

.modal-form__input:focus + .input-icon {
  fill: #2196f3;
}

.input__wrap {
  position: relative;
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  transform: translateY(-50%);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field--mar-bot-20 {
  margin-bottom: 20px;
}

.modal-form__textarea::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.modal-check {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.modal-check__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check__item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: block;
  margin-right: 8.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check__input:focus + .modal-check__label .modal-check__item {
  border-color: #2196f3;
}

.modal-check__icon {
  fill: #ffffff;
}

.policy-link {
  color: #2196f3;
  margin-left: 3px;
}

.modal-check__input:checked + .modal-check__label .modal-check__item {
  background-color: #2196f3;
  border: none;
}

.modal-form__button {
  margin: 0 auto;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__button:hover,
.modal-form__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/*---------------------PORTFOLIO---------------------*/

/* .portfolio-filter__list {
  display: flex;
  margin: 0 auto 34px;
  justify-content: center;
}

.portfolio-filter__items:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__button {
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-second-text-color);
  min-width: 73px;
  padding: 6px 22px;
  display: block;
  border: transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__button:hover,
.portfolio-filter__button:focus {
  background-color: var(--btn-main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__item {
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  background: var(--items-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 4px 4px rgba(133, 107, 107, 0.25);
}

.portfolio__item:hover .portfolio__toptext {
  transform: translateY(0);
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__image {
  position: relative;
  overflow: hidden;
}

.portfolio__toptext {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
  overflow: auto;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__info {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-main-color);
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  margin-top: 4px;
} */ */