.subscribe__button {
  width: 200px;
  padding: 10px 28px;
  position: relative;
  display: flex;
  margin: 20px auto 0;
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-left: 12px;
    margin-top: 0;
  }
}

.subscribe-btn__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--btn-text-color);
  margin-left: 10px;
}
