.section {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--text-main-color);
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-main-color);
}
