:root {
  --logo-part1-color: #2196f3;
  --logo-part2-color-dark: #000000;
  --logo-part2-color-light: #ffffff;
  --heder-navigation-color: #212121;
  --heder-contacts-color: #757575;
  --accent-color: #2196f3;
  --title-main-color: #212121;
  --title-second-color: #ffffff;
  --text-main-color: #757575;
  --text-second-color: #ffffff;
  --btn-main-color: #2196f3;
  --btn-second-color: #f5f4fa;
  --btn-accent-color: #188ce8;
  --btn-text-color: #ffffff;
  --btn-second-text-color: #212121;
  --footer-main-text-color: #ffffff;
  --footer-second-text-color: rgba(255, 255, 255, 0.6);
  --background-main-color: #ffffff;
  --items-background-color: #ffffff;
  --icon-background-color: #ffffff;
}
